<!DOCTYPE html>
<html>
<head>
  <title>Blue Lake Works</title>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <%= csrf_meta_tags %>	
	  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/yeti/bootstrap.min.css">
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css">
	  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    		<ul class="nav navbar-nav pull-left">
	    			<li><%= link_to "Blue Lake Works", root_path, class: "btn-primary" %></li>
	    		</ul>
	    	    	
	    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>	
	    	</div>
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    		<ul class="nav navbar-nav pull-right">
	    			<!-- log in / log out -->
	    		</ul>
	    	</div>
		</div>
	</nav> 

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= yield %>

</body>
</html>
